:root {
  --figma-hud: #222222;
  --figma-blue: #18a0fb;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

a {
  color: var(--figma-blue);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

body {
  color: var(--figma-hud);
  font: 12px sans-serif;
  text-align: left;
  margin: 20px;
  padding-top: 32px;
  padding-bottom: 20px;
  overflow-x: hidden;
}

figure {
  display: block;
  margin: 0;
  padding: 0;
}

.gallery {
  margin: 0 -21px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2px;
}

.gallery__image {
  display: block;
  opacity: 0.9;
  cursor: pointer;
}

.gallery__image:hover {
  opacity: 1;
}

.gallery__image > img {
  object-fit: cover;
}

.notice {
  position: fixed;
  bottom: 60px;
  z-index: 99;
  left: 50%;
  display: flex;
  justify-content: center;
  transform: translateX(-50%);
  max-width: 360px;
}

.visual-bell {
  height: auto !important;
  min-height: 36px;
}

.visual-bell__spinner-container {
  display: block !important;
}

.search {
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 99;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

.search input::-webkit-search-cancel-button {
  position: relative;
  right: 4px;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 40px;
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background-clip: padding-box;
}

#controls {
  text-align: center;
}

#controls > * {
  margin-bottom: 20px;
  margin-top: 20px;
}
